@font-face {
    font-family: Clear Sans; /* Название шрифта */
    src: url(../fonts/clearsans.ttf); /* Путь к файлу со шрифтом */
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clear Sans', sans-serif;
    color: #3A4047;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
body {
    img {
        padding: 1px;
    }
}
